<!DOCTYPE html>
<head>
     <meta charset="UTF-8">
    <title>Super Image Resolution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<style>
body {
  background-image: url("https://i.pinimg.com/originals/eb/60/82/eb60823cf0dd7c2a92edee36ed2a3fe6.jpg");
  background-position: 100%;
  background-size: cover;
}
</style>
<div class="container">
	<br>
	<h1 style="text-align: center"><i>Super Image Resolution</i></h1><br>
<div class="form">
   <form action="/result" method="POST">
        <br>
        <div class="row">
	    <div align="centre" class="col-md-6 mb-3">
	       <label for="path"><b>Enter filename of image - </b></label>
	       <input type="text" class="form-control" id="path" name="path" required>
            </div>
        </div>
        <br>
	<div class="form-group">
        <div align="right">
		       <input style="background-color:black; border-color:blue; color:white" class="btn btn-primary" type="submit" value="Result">
        </div>
	</div>
</form>
</div>
</div>
</body>
<div class="container my-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: Black"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Predicting AQI(Air Quality Index)
            </h6>
            <p>
              Machine Learning project - "AQI Prediction".
             The objective of project is to predict the AQI(Air Quality Index) of selected city, by providing data from user input.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />


          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i>  Naveen Kumar </p>
            <p><i class="fas fa-envelope mr-3"></i>naveenyadavipl@gmail.com</p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Visit Me </h6>

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="https://www.linkedin.com/in/naveen-kumar-93b014182/"
               role="button"
               ><i class="fab fa-linkedin-in"></i
              >Linkedin</a>
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: Black"
               href="https://github.com/Naveen-kumar01"
               role="button"
               ><i class="fab fa-github"></i
              >Github</a>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>
</html>
